<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="ap-local-base-url" content="{{ localBaseUrl }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ hostStylesheetUrl }}" type="text/css" />
  <link rel="stylesheet" href="/aui/css/aui-all.css" type="text/css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <script src="/aui/js/aui-all.js" type="text/javascript"></script>
  <script src="{{ hostScriptUrl }}" type="text/javascript"></script>
</head>

<body class="aui-page-hybrid">
  <section id="content" role="main">
    {{{body}}}
  </section>
  <script src="/js/main.js"></script>
</body>
</html>
